@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    font-family: 'Caveat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration-thickness: 1px;
    font-size: 1.25rem;
}
html{
    scroll-behavior: smooth;
}
.background{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, rgb(62, 62, 62) 0%, rgb(59, 59, 59), rgb(33, 33, 33) 80%);
}
.container{
    width: 60%;
    margin: 0 auto;
}
input{
    color: black;
    margin: 20px;
}
h1{
    padding-top: 100px;
    font-size: 1.7rem;
}