@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: white;
    text-align: justify;
    text-decoration-thickness: 1px;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 3vw;
    text-align: left;
    font-weight: 300;
    padding-top: 8vh;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
p{
    padding-top: 2vh;
    font-size: 1.5vw;
}
ul{
    font-size: 1.25vw;
    padding-left: 2vw;
}
img{
    display: inline;
    position: fixed;
    width: 40vw;
    height: auto;
    top: 27%;
    right: 10%;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 20px;
}
.background{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, rgb(62, 62, 62) 0%, rgb(85, 85, 85), rgb(20, 20, 20) 80%);
}
.container{
    width: 60%;
    margin: auto;
}
.strong{
    font-weight: 600;
}