@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: white;
    text-align: justify;
    text-decoration-thickness: 1px;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 3vw;
    text-align: left;
    font-weight: 300;
    padding-top: 10vh;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    padding-bottom: 40px;
}
p{
    padding-top: 2vh;
    font-size: 1.5vw;
}
ul{
    font-size: 1.25vw;
    padding-left: 2vw;
}
.neco{
    float: left;
    width: 50%;
}
.img{
    display: inline;
    position: absolute;
    width: 40vw;
    height: auto;
    top: 32%;
    right: 10%;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 20px;
}
video{
    position: relative;
    margin-top: 35vh;
    margin-bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(185, 185, 185);
    border-radius: 20px;
    height: auto;
}
.background{
    width: 100%;
    background: linear-gradient(to top right, rgb(62, 62, 62) 0%, rgb(85, 85, 85), rgb(20, 20, 20) 80%);
}
.background2{
    width: 100%;
    background: linear-gradient(to top right, rgb(62, 62, 62) 0%, rgb(85, 85, 85), rgb(20, 20, 20) 80%);
}
.background2 h1{
    text-align: center;
}
.background2 h2{
    position: absolute;
    right: 0;
    margin: 10px;
    text-decoration: underline 1px;
}
#zpet{
    position: absolute;
    margin: 20px;
    padding: 16px 10px 16px 10px;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(185, 185, 185, 0.25);
    transition: 0.2s;
}
#zpet:hover{
    background-color: rgba(185, 185, 185, 0.6);
}
.container{
    width: 60%;
    margin: auto;
}
.strong{
    font-weight: 600;
}
table, th, td{
    border: 2px solid rgb(185, 185, 185);
    border-collapse: collapse;
}
table{
    margin: 0 auto;
}
td{
    padding: 10px 20vw 10px 10px;
}
table{
    margin-top: 50px;
}
.jídla{
    padding-right: 10vw;
}
.dny{
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
}
.podnadpis{
    font-weight: 600;
    font-size: 18px;
}
.right{
    position: absolute;
    right: 22.5%;
}

.img1{
    width: 100%;
    height: 100vh;
    background: url(assets/gulas.jfif);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img2{
    width: 100%;
    height: 100vh;
    background: url(assets/smazak.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img3{
    width: 100%;
    height: 100vh;
    background: url(assets/utopenec.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img4{
    width: 100%;
    height: 100vh;
    background: url(assets/biftek.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img5{
    width: 100%;
    height: 100vh;
    background: url(assets/svickova.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img6{
    width: 100%;
    height: 100vh;
    background: url(assets/veprove_medailonky.jfif);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img7{
    width: 100%;
    height: 100vh;
    background: url(assets/pstruh.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img8{
    width: 100%;
    height: 100vh;
    background: url(assets/kurizek.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: black;
    font-size: 2vw;
}
.img9{
    width: 100%;
    height: 100vh;
    background: url(assets/pivo.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
.img10{
    width: 100%;
    height: 100vh;
    background: url(assets/nealko_pivo.jpg);
    background-size: cover;
    animation: img_open;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
@keyframes img_open{
    0%{
        width: 0%;
        height: 0vh;
    }
    100%{
        width: 100%;
        height: 100vh;
    }
}
.close_button{
    display: none;
}
.close_icon {
    margin-top: 0.2rem;
    width: 2rem;
}
.close_button_visible{
    display: inline;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 0.15rem 0.4rem;
    position: fixed;
    user-select: none;
    top: 1%;
    right: 0.6%;
    border: 0.1rem solid rgb(185, 185, 185);
    background: rgba(185, 185, 185, 0.5);
    z-index: 11;
    animation: button_fade_in;
    animation-duration: 0.5s;
}
@keyframes button_fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#cards{
    background-color: rgb(47, 47, 47);
    padding: 10px 30px 130px 30px;
    border: 3px solid gray;
    border-radius: 50px;
}
#food{
    padding: 0;
}
#food_img{
    margin-top: 15px;
    position: relative;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}
#prev, #next{
    position: absolute;
    padding: 0 28px;
    font-size: 5rem;
    border: 3px solid gray;
    border-radius: 100%;
    background-color: rgb(68, 68, 68);
    transition: 0.2s;
}
#next{
    right: 40%;
}
#prev{
    left: 40%;
}
#next:active,
#next:hover,
#prev:hover,
#prev:active{
    background-color: rgb(22, 22, 22);
}