@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: white;
    text-align: left;
    text-decoration-thickness: 1px;
}
.background{
    width: 100%;
    background: linear-gradient(to top right, rgb(62, 62, 62) 0%, rgb(85, 85, 85), rgb(20, 20, 20) 80%);
    border: none;
}
span{
    position: relative;
}
div{
    border: 2px #ff7300 solid;
}
img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.one{
    background: rgb(255, 0, 0);
}
.two{
    background: rgb(0, 115, 255);
    position: relative;
    top: 50px;
    left: 100px;
}
.special{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 255, 8);
}
.special2{
    background: rgb(255, 145, 0);
    display: inline;
    position: fixed;
    top: 180px;
    left: 360px;
}